@charset "UTF-8";
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --alternative-accent-color: #188ce8;
  --alternative-text-color: #ffffff;
  --logo-text-color: #000000;
  --contacts-transparent-text: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --alternative-background-color: #f5f4fa;
  --passive-icons-color: #afb1b8;
  --link-bcg-color: rgba(0, 0, 0, 0.1);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --curent-color: rgba(33, 150, 243, 1);
  --discrip-text-bcg: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --border-footer-color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.adress__item {
  margin-bottom: 12px;
}
.adress__location {
  color: var(--alternative-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__location:hover, .adress__location:focus {
  color: var(--accent-color);
}
.adress__connection {
  color: var(--contacts-transparent-text);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__connection:hover, .adress__connection:focus {
  color: var(--accent-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--alternative-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  min-width: 200px;
  height: 50px;
  padding: 10px 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--alternative-accent-color);
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.checkbox__terms {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__terms:hover + .checkbox__icon {
  border-color: var(--accent-color);
}
.checkbox__terms:checked + .checkbox__icon {
  fill: var(--alternative-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  padding-left: 37px;
  cursor: pointer;
}
.checkbox__license {
  color: var(--accent-color);
}
.checkbox__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  fill: transparent;
  pointer-events: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--link-bcg-color);
  background-color: var(--alternative-text-color);
  fill: var(--logo-text-color);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.form__lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__thumb {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.form__area {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__area:focus, .form__area:hover {
  border-color: var(--accent-color);
  outline: transparent;
}
.form__area:focus + .form__icon, .form__area:hover + .form__icon {
  fill: var(--accent-color);
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__coment {
  width: 100%;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__coment:hover, .form__coment:focus {
  border-color: var(--accent-color);
  outline: transparent;
}
.form__coment::-webkit-input-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment::-moz-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment:-ms-input-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment::-ms-input-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment::placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.links-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.links-list__item:last-child {
  margin-right: 0px;
}
.links-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--passive-icons-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-list__link:hover, .links-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--alternative-text-color);
}

.links-list__item--dark {
  margin: 0px;
  border-radius: 50%;
  background-color: var(--link-bcg-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-list__link--dark {
  fill: var(--alternative-text-color);
}

.links-list__item--dark:hover,
.links-list__item--dark:focus {
  background-color: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__header {
  color: var(--logo-text-color);
}
.logo__footer {
  color: var(--alternative-text-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  padding: 40px;
  background: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.project-card {
  display: block;
  border: 1px solid #eeeeee;
}
.project-card__discription {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.project-card__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-card__text {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.88;
}
.project-card__overlay {
  position: relative;
  overflow: hidden;
}
.project-card__overlay-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--alternative-text-color);
  background-color: var(--overlay-color);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover .project-card__overlay-text, .project-card:focus .project-card__overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project-card:hover, .project-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.subscription {
  display: block;
  margin-left: auto;
}
.subscription__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--alternative-text-color);
}
.subscription__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.subscription__email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--border-footer-color);
  border-radius: 4px;
  color: var(--alternative-text-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--contacts-transparent-text);
}
.subscription__email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--contacts-transparent-text);
}
.subscription__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--contacts-transparent-text);
}
.subscription__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--contacts-transparent-text);
}
.subscription__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--contacts-transparent-text);
}
.subscription__email:focus, .subscription__email:hover {
  border-color: var(--accent-color);
  outline: transparent;
}
.subscription__button {
  padding-left: 28px;
  padding-right: 62px;
}
.subscription__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  display: block;
  width: 270px;
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0px;
}
.benefits__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
}
.benefits__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--alternative-background-color);
  margin-bottom: 30px;
}

.clients {
  padding: 94px 0px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:last-child {
  margin-right: 0px;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--passive-icons-color);
  border: 1px solid var(--passive-icons-color);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.discription {
  padding-bottom: 94px;
}
.discription__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.discription__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discription__thumb {
  position: relative;
}
.discription__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--discrip-text-bcg);
  color: var(--alternative-text-color);
}

.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__adress-block {
  margin-right: 70px;
}
.footer__logo {
  margin-bottom: 28px;
}
.footer__social-block {
  display: block;
  width: 206px;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternative-text-color);
  margin-bottom: 20px;
}
.footer__links-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 93px;
}
.header__menu, .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__link {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  padding: 32px 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header__link--curent {
  color: var(--accent-color);
  position: relative;
}
.header__link--curent::after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--curent-color);
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}
.header__item + .header__item {
  margin-left: 50px;
}
.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .header__button:hover, .header .header__button:focus {
  color: var(--accent-color);
}
.header__contacts-item + .header__contacts-item {
  margin-left: 40px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(53, 47, 58, 0.4)), to(rgba(53, 47, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(53, 47, 58, 0.4), rgba(53, 47, 58, 0.4)), url(../images/hero.jpg);
  background-color: var(--secondary-background-color);
}
.hero__title {
  color: var(--alternative-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  border: transparent;
  margin-bottom: 30px;
}

.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.portfolio__filters-item {
  margin-right: 8px;
}
.portfolio__filters-item:last-child {
  margin-right: 0px;
}
.portfolio__filters-button {
  padding: 6px 22px;
  background-color: var(--alternative-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filters-button:hover, .portfolio__filters-button:focus {
  background-color: var(--accent-color);
  color: var(--alternative-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__projects-item {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid #eeeeee;
}
.portfolio__projects-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__projects-item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.team {
  padding: 94px 0px;
  background-color: var(--alternative-background-color);
}
.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */