:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --alternative-accent-color: #188ce8;
    --alternative-text-color: #ffffff;
    --logo-text-color: #000000;
    --contacts-transparent-text: rgba(255, 255, 255, 0.6);
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --alternative-background-color: #f5f4fa;
    --passive-icons-color: #afb1b8;
    --link-bcg-color: rgba(0, 0, 0, 0.1);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --curent-color: rgba(33, 150, 243, 1);
    --discrip-text-bcg: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --button-shadow-color: rgba(0, 0, 0, 0.15);
    --border-footer-color: rgba(255, 255, 255, 0.3);
}